<%- include('./includes/head'); %>

    
    <section class="container">
        <h1>
            <%= title %>  <br>
            

        </h1>

        <h2>
            <%- summary%>
        </h2>

        <h3>
            <%= umaVariavelLocal %>  
        </h3>

        <p>
            <% numero.forEach((num) => {  %>
            <%= num %> <br>
            <% });%>
        </p>


        <form action="/" method="POST">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>Enviar</button>
        </form>
    </section>

<%- include('./includes/footer') %>